CCFlowWorkNode/Service References/UploadService/SilverlightUploadService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s1="http://tempuri.org/AbstractTypes" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="StoreFileAdvanced">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="data" type="s:base64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="dataLength" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="parameters" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="firstChunk" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="lastChunk" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StoreFileAdvancedResponse">
        <s:complexType />
      </s:element>
      <s:element name="CancelUpload">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelUploadResponse">
        <s:complexType />
      </s:element>
    </s:schema>
    <s:schema targetNamespace="http://tempuri.org/AbstractTypes">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:complexType name="StringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string" />
            </s:sequence>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="StoreFileAdvancedSoapIn">
    <wsdl:part name="parameters" element="tns:StoreFileAdvanced" />
  </wsdl:message>
  <wsdl:message name="StoreFileAdvancedSoapOut">
    <wsdl:part name="parameters" element="tns:StoreFileAdvancedResponse" />
  </wsdl:message>
  <wsdl:message name="CancelUploadSoapIn">
    <wsdl:part name="parameters" element="tns:CancelUpload" />
  </wsdl:message>
  <wsdl:message name="CancelUploadSoapOut">
    <wsdl:part name="parameters" element="tns:CancelUploadResponse" />
  </wsdl:message>
  <wsdl:message name="StoreFileAdvancedHttpGetIn">
    <wsdl:part name="fileName" type="s:string" />
    <wsdl:part name="data" type="s1:StringArray" />
    <wsdl:part name="dataLength" type="s:string" />
    <wsdl:part name="parameters" type="s:string" />
    <wsdl:part name="firstChunk" type="s:string" />
    <wsdl:part name="lastChunk" type="s:string" />
  </wsdl:message>
  <wsdl:message name="StoreFileAdvancedHttpGetOut" />
  <wsdl:message name="CancelUploadHttpGetIn">
    <wsdl:part name="fileName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CancelUploadHttpGetOut" />
  <wsdl:message name="StoreFileAdvancedHttpPostIn">
    <wsdl:part name="fileName" type="s:string" />
    <wsdl:part name="data" type="s1:StringArray" />
    <wsdl:part name="dataLength" type="s:string" />
    <wsdl:part name="parameters" type="s:string" />
    <wsdl:part name="firstChunk" type="s:string" />
    <wsdl:part name="lastChunk" type="s:string" />
  </wsdl:message>
  <wsdl:message name="StoreFileAdvancedHttpPostOut" />
  <wsdl:message name="CancelUploadHttpPostIn">
    <wsdl:part name="fileName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CancelUploadHttpPostOut" />
  <wsdl:portType name="SilverlightUploadServiceSoap">
    <wsdl:operation name="StoreFileAdvanced">
      <wsdl:input message="tns:StoreFileAdvancedSoapIn" />
      <wsdl:output message="tns:StoreFileAdvancedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelUpload">
      <wsdl:input message="tns:CancelUploadSoapIn" />
      <wsdl:output message="tns:CancelUploadSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SilverlightUploadServiceHttpGet">
    <wsdl:operation name="StoreFileAdvanced">
      <wsdl:input message="tns:StoreFileAdvancedHttpGetIn" />
      <wsdl:output message="tns:StoreFileAdvancedHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelUpload">
      <wsdl:input message="tns:CancelUploadHttpGetIn" />
      <wsdl:output message="tns:CancelUploadHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SilverlightUploadServiceHttpPost">
    <wsdl:operation name="StoreFileAdvanced">
      <wsdl:input message="tns:StoreFileAdvancedHttpPostIn" />
      <wsdl:output message="tns:StoreFileAdvancedHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelUpload">
      <wsdl:input message="tns:CancelUploadHttpPostIn" />
      <wsdl:output message="tns:CancelUploadHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SilverlightUploadServiceSoap" type="tns:SilverlightUploadServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StoreFileAdvanced">
      <soap:operation soapAction="http://tempuri.org/StoreFileAdvanced" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelUpload">
      <soap:operation soapAction="http://tempuri.org/CancelUpload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SilverlightUploadServiceSoap12" type="tns:SilverlightUploadServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StoreFileAdvanced">
      <soap12:operation soapAction="http://tempuri.org/StoreFileAdvanced" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelUpload">
      <soap12:operation soapAction="http://tempuri.org/CancelUpload" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SilverlightUploadServiceHttpGet" type="tns:SilverlightUploadServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="StoreFileAdvanced">
      <http:operation location="/StoreFileAdvanced" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="CancelUpload">
      <http:operation location="/CancelUpload" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SilverlightUploadServiceHttpPost" type="tns:SilverlightUploadServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="StoreFileAdvanced">
      <http:operation location="/StoreFileAdvanced" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="CancelUpload">
      <http:operation location="/CancelUpload" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SilverlightUploadService">
    <wsdl:port name="SilverlightUploadServiceSoap" binding="tns:SilverlightUploadServiceSoap">
      <soap:address location="http://localhost:50572/WF/WorkOpt/SilverlightUploadService.asmx" />
    </wsdl:port>
    <wsdl:port name="SilverlightUploadServiceSoap12" binding="tns:SilverlightUploadServiceSoap12">
      <soap12:address location="http://localhost:50572/WF/WorkOpt/SilverlightUploadService.asmx" />
    </wsdl:port>
    <wsdl:port name="SilverlightUploadServiceHttpGet" binding="tns:SilverlightUploadServiceHttpGet">
      <http:address location="http://localhost:50572/WF/WorkOpt/SilverlightUploadService.asmx" />
    </wsdl:port>
    <wsdl:port name="SilverlightUploadServiceHttpPost" binding="tns:SilverlightUploadServiceHttpPost">
      <http:address location="http://localhost:50572/WF/WorkOpt/SilverlightUploadService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>